:root {
  --bg: oklch(0.15 0.005 93);
  --bg-light: oklch(0.2 0.005 93);
  --text: oklch(0.96 0.01 93);
  --text-muted: oklch(0.76 0.01 93);
  --highlight: oklch(0.5 0.01 93);
  --bg-primary: oklch(79.398% 0.11283 98.845);
  font-size: clamp(14px, 1vw, 18px);
}

@mixin flex-display($gap: 0rem, $direction: column) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg);
}

button {
  all: unset;
  cursor: pointer;
}

main {
  width: 100%;
  @include flex-display(0rem);

  section {
    width: 100%;
  }

  section.view1 {
    @include flex-display(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: var(--bg-light);
      @include flex-display(3.5rem);
      padding: 1.5rem;
      border-radius: 0.7rem;

      & > p {
        color: var(--text);
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 2px;
      }

      .text-group {
        @include flex-display(1rem);
        color: var(--text);
        h1 {
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 2.3rem;
        }

        p {
          text-transform: unset;
          color: var(--text-muted);
          line-height: 2;
          font-size: 1.2rem;
          opacity: 0.8;
        }

        button {
          text-transform: uppercase;
          color: var(--text);
          font-size: 400;
          @include flex-display(.5rem, row);
          width: fit-content;
          align-items: center;

          i {
            color: var(--text-muted);
            font-size: 1.5rem;
            background-color: hsla(0, 0%, 100%, 0.075);
            border-radius: 50%;
            padding: .5rem;
            border: 1px solid hsla(0, 0%, 100%, 0.062);
          }
        }
      }
    }
  }

  section.view2 {
    @include flex-display(1rem);
    padding: 1rem;

    .top,
    .bottom {
      width: 100%;
      @include flex-display(0rem, row);
      justify-content: space-around;
      .element {
        @include flex-display(0.3rem, column);
        align-items: center;
        small {
          text-transform: uppercase;
          color: var(--text-muted);
          opacity: 0.8;
        }
        h2 {
          text-transform: uppercase;
          color: var(--text);
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
  }

  section.view3 {
    @include flex-display(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }

    .bottom {
      background-color: var(--bg-light);
      @include flex-display(3.5rem);
      padding: 1.5rem;
      border-radius: 0.7rem;

      & > p {
        color: var(--text);
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 2px;
      }

      .text-group {
        @include flex-display(1rem);
        color: var(--text);
        h1 {
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 2.3rem;
        }

        .para-group {
          p {
            display: inline;
            text-transform: unset;
            color: var(--text-muted);
            line-height: 2;
            font-size: 1.2rem;
            opacity: 0.8;
          }
        }
      }
    }
  }

  section.view4 {
    @include flex-display(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }

    .bottom {
      background-color: var(--bg-light);
      @include flex-display(3.5rem);
      padding: 1.5rem;
      border-radius: 0.7rem;

      & > p {
        color: var(--text);
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 700;
        letter-spacing: 2px;
      }

      .text-group {
        @include flex-display(1rem);
        color: var(--text);
        h1 {
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 2.3rem;
        }

        .para-group {
          p {
            display: inline;
            text-transform: unset;
            color: var(--text-muted);
            line-height: 2;
            font-size: 1.2rem;
            opacity: 0.8;
          }
        }
      }
    }
  }

  section.view5 {
    @include flex-display(2rem);
    padding: 1rem;
    .top {
      width: 100%;

      h1 {
        color: var(--text);
        padding: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
      }
    }

    .bottom {
      @include flex-display(1rem);

      .card {
        width: 100%;
        border-radius: 0.7rem;
        background-size: cover;
        aspect-ratio: 1/1;
        padding: 1.5rem;
        @include flex-display(0rem);
        justify-content: space-between;

        &:nth-child(1) {
          background-image: url("./images/team-01.webp");
        }

        &:nth-child(2) {
          background-image: url("./images/team-02.webp");
        }
        &:nth-child(3) {
          background-image: url("./images/team-03.webp");
        }

        .card-top {
          @include flex-display(0.5rem, row);
          justify-content: flex-end;
          i {
            color: var(--text-muted);
            font-size: 1.3rem;
            padding: 0.7rem;
            border-radius: 50%;
            background: hsla(0, 0%, 100%, 0.096);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid hsla(0, 0%, 100%, 0.116);
            box-shadow: 0 4px 30px hsla(0, 0%, 0%, 0.1);
            opacity: 0.9;
          }
        }

        .card-bottom {
          @include flex-display(0rem, row);
          justify-content: space-between;
          align-items: center;
          padding: 1rem 1.5rem;
          background: hsla(0, 0%, 100%, 0.116);
          backdrop-filter: blur(20px);
          -webkit-backdrop-filter: blur(10px);
          border: 1px solid hsla(0, 0%, 100%, 0.116);
          box-shadow: 0 4px 30px hsla(0, 0%, 0%, 0.1);
          border-radius: 0.5rem;

          p {
            text-transform: uppercase;
            color: var(--text);

            &:nth-child(1) {
              font-size: 1.5rem;
              font-weight: 400;
              text-shadow: 2px 3px 10px hsla(0, 0%, 0%, 0.3);
            }

            &:nth-child(2) {
              letter-spacing: 2px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  section.view6 {
    @include flex-display(1rem);
    padding: 1rem;

    .top,
    .bottom {
      width: 100%;
    }

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      border-radius: 0.7rem;
      background-color: var(--bg-light);
      padding: 1.5rem;
      @include flex-display(2rem);
      .text-group {
        @include flex-display(0.5rem);
        p {
          color: var(--text-muted);
          text-transform: uppercase;
          font-size: 0.9rem;
          font-weight: 700;
          letter-spacing: 2px;
        }

        h1 {
          color: var(--text);
          text-transform: uppercase;
          font-weight: 400;
          font-size: 2rem;
          width: 85%;
        }
      }

      button {
        color: var(--text);
        width: fit-content;
        padding: 0.5rem 1rem;
        border-radius: 0.7rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 400;
        @include flex-display(0.5rem, row);
        align-items: center;
        justify-content: space-around;
        font-size: 1.2rem;

        i {
          font-size: 1.5rem;
          background-color: hsla(0, 0%, 100%, 0.137);
          border-radius: 50%;
          padding: 0.5rem;
        }
      }
    }
  }

  section.view7 {
    @include flex-display(1rem);
    padding: 1rem;

    #item1,
    #item2,
    #item3,
    #item4 {
      border-radius: 0.7rem;
      padding: 1.5rem;
      width: 100%;
    }

    #item1 {
      background-color: var(--bg-primary);
      @include flex-display(0.5rem);

      p {
        color: var(--bg);
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 400;
        letter-spacing: 2px;
      }

      .bottom {
        @include flex-display(1rem);
        text-transform: uppercase;
        align-items: center;

        h1 {
          color: var(--bg);
          text-transform: uppercase;
          font-weight: 400;
          font-size: 3rem;
        }

        button {
          background-color: var(--bg);
          font-size: .8rem;
          color: var(--text);
          width: max-content;
          padding: 1rem 3rem;
          border-radius: 0.5rem;
          font-weight: 400;
          @include flex-display(0.5rem, row);
          align-items: center;
          justify-content: space-between;
          i {
            font-size: 1.4rem;
          }
        }
      }
    }

    #item2 {
      background-color: var(--bg-light);
      @include flex-display(5rem);

      p {
        color: var(--text-muted);
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 400;
        letter-spacing: 2px;
      }

      .button-group {
        @include flex-display(0.5rem, row);

        i {
          color: var(--text);
          font-size: 1.2rem;
          background-color: hsla(0, 0%, 100%, 0.075);
          border-radius: 50%;
          padding: 0.5rem;
          border: 1px solid hsla(0, 0%, 100%, 0.062);
        }
      }
    }

    #item3 {
      @include flex-display(2rem, column);
      background-color: var(--bg-light);

      .box {
        @include flex-display(1.5rem);

        h2 {
          color: var(--text);
          text-transform: uppercase;
          font-size: 1.2rem;
          font-weight: 400;
        }

        .link-group {
          @include flex-display(1.5rem);
          text-transform: uppercase;

          p {
            color: var(--text-muted);
            font-size: .9rem;
            font-weight: 400;
            opacity: 0.8;
            cursor: pointer;
          }

          button {
            background-color: var(--bg-primary);
            width: fit-content;
            padding: 1rem 1.5rem;
            border-radius: 0.7rem;
          }
        }
      }
    }

    #item4 {
      background-color: var(--bg-light);
      @include flex-display(1.5rem, row);
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;

      p {
        font-size: 1.2rem;
        color: var(--text-muted);
        font-weight: 400;
        line-height: 1.5;

        a {
          color: var(--text);
        }
      }

      button {
        color: var(--text);
        font-weight: 400;
        @include flex-display(1rem, row);
        width: fit-content;
        align-items: center;

        i {
          color: var(--text-muted);
          font-size: 1rem;
          background-color: hsla(0, 0%, 100%, 0.075);
          border-radius: 50%;
          padding: 0.5rem;
          border: 1px solid hsla(0, 0%, 100%, 0.062);
        }
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    align-items: center;
    section {
      max-width: 2000px;
    }

    section.view1 {
      flex-direction: row;
      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 4rem;
        .text-group {
          h1 {
            font-size: 1.5rem;
            width: 70%;
          }

          p {
            font-size: 1rem;
            width: 85%;
            line-height: 1.5;
          }
        }
      }
    }

    section.view2 {
      flex-direction: row;
      .top,
      .bottom {
        .element {
          h2 {
            font-size: 2.5rem;
          }
          small {
            font-size: 1.2rem;
          }
        }
      }
    }

    section.view3 {
      flex-direction: row-reverse;
      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 4rem;
        .text-group {
          h1 {
            font-size: 1.5rem;
            width: 70%;
          }

          .para-group {
            @include flex-display(1rem, row);
            p {
              font-size: 1rem;
              width: 85%;
              line-height: 1.5;
            }
          }
        }
      }
    }

    section.view4 {
      flex-direction: row;
      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 4rem;
        .text-group {
          h1 {
            font-size: 1.5rem;
            width: 80%;
          }

          .para-group {
            @include flex-display(1rem, row);
            p {
              font-size: 1rem;
              width: 100%;
              line-height: 1.5;
            }
          }
        }
      }
    }

    section.view5 {
      .top {
        h1 {
          font-size: 3rem;
        }
      }
      .bottom {
        flex-direction: row;

        .card {
          .card-top {
            i {
              font-size: 1.5rem;
            }
          }

          .card-bottom {
            p {
              &:nth-child(1) {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }

    section.view6 {
      flex-direction: row;
      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        padding: 4rem;
        justify-content: space-between;

        .text-group {
          h1 {
            font-size: 1.5rem;
            width: 75%;
          }
        }
      }
    }

    section.view7 {
      display: grid;
      grid-template-columns: 20% 1fr;
      grid-template-rows: 40% 50%fr 10%;

      #item1,
      #item2,
      #item3,
      #item4 {
        padding: 2.2rem 2rem;
      }

      #item1 {
        grid-area: 1 / 1 / 2 / 3;

        .bottom {
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
          flex-wrap: wrap;
          h1 {
            font-size: 4rem;
            width: 60%;
          }

          button {
            padding: 1rem 1.5rem;
          }
        }
      }

      #item2 {
        grid-area: 2/ 1/ 4/ 2;
        justify-content: space-between;
      }

      #item3 {
        grid-area: 2/ 2/ 3/ 3;
        flex-direction: row;
        .box {
          width: 33.33%;
        }
      }

      #item4 {
        grid-area: 3 / 2 / 4 / 3;
        justify-content: space-between;
      }
    }
  }
}
